<div class="container-fluid">
  <div class="row border border border-top border-left border-bottom border-right ml-2 mr-2 mt-2 mb-2 p-2">
    <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
      <a routerLink="/first" routerLinkActive="text-decor-underline">
        First component (Routing)
      </a>
    </div>
    <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2" routerLink="/second" routerLinkActive="text-decor-underline">
      <a routerLink="/second">
        Second component (Routing)
      </a>
    </div>
    <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
      <a routerLink="/templateDriven" routerLinkActive="text-decor-underline"> Template driven form</a>
    </div>

    <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
            <a routerLink="/reactiveForm" routerLinkActive="text-decor-underline">Reactive form</a>
    </div>

      <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
            <a routerLink="/controlValue" routerLinkActive="text-decor-underline">Control Value Accessor</a>
    </div>

    
      <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
            <a routerLink="/signalForm" routerLinkActive="text-decor-underline">Signal From</a>
    </div>

     <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
            <a routerLink="/rxjs" routerLinkActive="text-decor-underline">**rxjs playground**</a>
    </div>
 

     <div class="col-3 border-right  border-left text-center border-top border-right border-bottom p-2">
            <a routerLink="/nestedf" routerLinkActive="text-decor-underline">form array</a>
    </div>

  </div>

  <div class="row mt-4">
      <div class="col-12 text-center">
      <router-outlet></router-outlet>
  </div>
  </div>

</div>