<div class="container-fluid">
  <div class="row border border border-top border-left border-bottom border-right ml-2 mr-2 mt-2 mb-2 p-2">
    <div class="col-3 border-left border-right text-center">
      <a routerLink="/first">
        First component (Routing)
      </a>
    </div>
    <div class="col-3 border-right  border-left text-center" routerLink="/second">
      <a routerLink="/second">
        Second component (Routing)
      </a>
    </div>
    <div class="col-3 border-right  border-left text-center">
      <a routerLink="/templateDriven"> Template driven form</a>
    </div>

    <div class="col-3 border-right  border-left text-center">
            <a routerLink="/templateDriven">Reactive form</a>
    </div>
  </div>

  <div class="row mt-4">
      <div class="col-12 text-center">
      <router-outlet></router-outlet>
  </div>
  </div>
  
</div>