<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <form [formGroup]="form">
                <h4>The reactive  ngvalue accessor</h4>
                <app-custom-element  formControlName="value"></app-custom-element>
            </form>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>The template driven ngvalue accessor</h4>
            <form #tform="ngForm">
                <app-custom-element #value="ngModel" ngModel></app-custom-element>
            </form>

        </div>
        <div class="col-4"></div>
    </div>
</div>