html, body {
  height: 100%; /* Full height */
  width: 100%;  /* Full width */
  margin: 0;    /* Remove default margin */
  padding: 0;   /* Remove default padding */
  overflow: hidden; /* Prevent scrollbars */
} 